{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href={% url "view" %}>Дисциплины и их навыки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "load" %}>Добавить навыки из файла</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "generate" %}>Сгенерировать таблицу</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}