<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Дисциплины и их компетенции</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col" style="margin-top:100px;">
                {% if disciplines %}
                    {% for discipline in disciplines %}
                        <h2>{{ discipline.name }}</h2>
                        {% if discipline.skills.all  %}
                            {% for skill in discipline.skills.all %}
                                <div class="row">
                                    <div class="col">
                                        {{ skill.code }}. {{ skill.name }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    Пока нет навыков
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h2>Нет дисциплин</h2>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>